body
{
  text-align:center;
  background-color:green;
  font-size:50px;
  font-family:Florence, cursive;
}

#album{
  height:500px;
  width:500px;
  text-align:center;
  border-style:solid;
  border-color:#689F38;
  border : 1px ;
  border-radius: 80px;
  padding: 5px;
  width: 450px;
}